---
layout: default
title: Home
---
{% for post in paginator.posts %}
  <div align="right" class="date-container">{{ post.date | date:"%A, %e %B %Y" | upcase }}</div>
  <h1>{{ post.title }} <a class="glyph-permalink" href="{{ post.url }}" title="Permanent link to: '{{ post.title }}'">&infin;</a></h1>
  <div class="content">
    {{ post.content }}
  </div>
  {% if forloop.last == false %}
  </br>
    <hr class="front">
  </br>
  {% endif %}
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="/page{{paginator.previous_page}}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{paginator.page}} of {{paginator.total_pages}}</span>
  {% if paginator.next_page %}
    <a href="/blog/page{{paginator.next_page}}" class="next ">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
  <a href="/pages/archive.html">Archive</a>
</div>
