<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   {% if page.title == 'Home' %}
   <title>Konrad Scherer</title>
   {% else %}
   <title>{{ page.title }}</title>
   {% endif %}
   <meta name="author" content="Konrad Scherer" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="{{ site.baseurl }}css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}css/normalize.css">
   <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}css/skeleton.css">
   <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}css/layout.css">

</head>
<body>

  <div class="container">
    <div class="twelve columns title">
      <a href="{{ site.baseurl }}" title="Konrad Scherer: Home">Konrad Scherer</a>
    </div>
    
    <div class="eleven columns">
      {{ content }}
    </div>
    <div class="one column">
      <h2>Pages</h2>
      <ul class="pages">
        <li><a href="{{ site.baseurl }}pages/about.html">About</a></li>
        <li><a href="{{ site.baseurl }}pages/projects.html">Projects</a></li>
        <li><a href="{{ site.baseurl }}pages/archive.html">Archive</a></li>
      </ul>
    </div>

    <div class="twelve columns footer">
      <div class="contact">
        <p>
          Copyright © Konrad Scherer 2015
        </p>
      </div>
      <div>
        <p>
        </p>
      </div>
    </div>
  </div>
</body>
</html>
